html
{
    background-color: black;
    scroll-behavior: smooth;
}
body
{
    width: 80%;
    margin: auto;
    padding: auto;
    color: white;
}

.container__flex
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.header__logo 
{
    padding: 20px;
    max-width: 200px;
    max-height: 150px;
}

nav
{  
    display: inline-block;
    margin: auto;
}

.nav__list
{
    display: flex;
    padding: 20px;
    align-items: center;
    list-style-type: none;
}

.nav__link
{
    margin: 20px;
}

.nav__link--active 
{
    color: red;
}

.wrapper section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    margin: 50px;
}
.wrapper {
    display:flex;
    margin: auto;
    border: 3px solid rgb(173, 16, 11);
}

/* #bestMovie {
    border: 3px solid rgb(173, 16, 11);
}
 */
.best {
    margin: auto;
    padding: 50px;
}

#bestPicture {
    flex-shrink: 2;
    padding: 20px;
    width: 300px;
}
#bestTitleAndButton {
    margin: 20px;
    padding: 20px;
}

.carouselBox {
    height: 250px;
    width: 80%;
    /* overflow: hidden; */
    z-index: 0;
}

h1 {
    font-family: Arial;
    color: red;
    text-align: center;
   }
  
.btn-nav {
position: absolute;
 color: #fff;
 text-decoration: none;
 font-size: 6em;
 background: black;
 width: 80px;
 padding-top: 120px;
 text-align: center;
}
 
.moveLeft {
    align-items: center;
    left: 0;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.moveRight {
    align-items: center;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}  

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 550px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  #myModal {
    color: whitesmoke;
    background-color: black;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 3px solid rgb(173, 16, 11);
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


@media all and (max-width: 1024px)
{
    nav
    {
        width: auto;
        text-align: left;
    }    

    nav ul 
    { 
        flex-direction: column;
    }

    nav li 
    {
        padding-left: 4px;
    }

    nav a
    {
        font-size: 1.1em;
    }

    nav a:hover
    {
        border-bottom: 0;
    }
}