html
{
    background-color: black;
}
body
{
    width: 50%;
    margin: auto;
    color: white;
}

.container__flex
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: grey;
    text-align: center;
}

.header__logo 
{
    padding: 20px;
    max-width: 200px;
    max-height: 150px;
}

nav
{
    border: solid;    
    display: inline-block;
    margin: auto;
}

.nav__list
{
    display: flex;
    border: solid;
    padding: 20px;
    align-items: center;
    list-style-type: none;
}

.nav__link
{
    border: solid;
    margin: 20px;
}

.nav__link--active 
{
    color: red;
}

@media all and (max-width: 1024px)
{
    nav
    {
        width: auto;
        text-align: left;
    }    

    nav ul 
    { 
        flex-direction: column;
    }

    nav li 
    {
        padding-left: 4px;
    }

    nav a
    {
        font-size: 1.1em;
    }

    nav a:hover
    {
        border-bottom: 0;
    }
}